body{
  background-image: url(https://unsplash.com/photos/WQD6TCLOozg/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8NDl8fGRyZWFtc3xlbnwwfHx8fDE2NjUxMjQxMTg&force=true);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 600px;
  height: 600px;
}
.container{
  background-color: #F5F5F5;
  display: flex;
  justify-content: center;
  color: #364F6B;
  padding: 10px;
}
.btn{
  width: 200px;
  padding: 10px;
  color: #364F6B;
  
  border: none;
  font-size: 20px;
}
.remove{
  background-color: #3FC1C9;
}
.delete{
  background-color: #FC5185;
}